{% if include.content[1].size > 0 %}
<div class="page-card card-primary page-card-lg page-card-container">
    <div class="page-card-image-container">
        <img class="page-card-image" src="{{ include.content[1].image }}" alt="{{ include.content[1].image_alt }}" />
    </div>

    <div class="page-card-content">
        <h3>{{include.content[1].name}}</h3>
        <p>{{include.content[1].description}}</p>
        <p>
            <strong>SDGs: </strong>
            {% if include.content[1].SDG %}
            {% for sdg in include.content[1].SDG %}
            {% if forloop.last == true %}
            and {{sdg}}
            {% else %}
            {{sdg}},
            {% endif %}
            {% endfor %}
            {% endif %}<br>
        </p>
        
        <ul class="project-card-mini-list-alignment">
            {% for project in include.content[1].projects%}
            <li class="project-card-mini inline-list" id="{{project.id}}">
                <img class="project-card-mini-image" src="{{project.image}}" alt="{{project.image_alt}}" />
                <a class="project-card-mini-title" href="{{project.link}}">{{project.name}}</a>
            </li>
            {% endfor %}
            <!--Spacer li are used to center the project card mini on mobile-->
            <li class="project-card-mini-spacer"></li> 
            <li class="project-card-mini-spacer"></li>
            <li class="project-card-mini-spacer"></li>
        </ul>
    </div>
</div>
{% endif %}