/*---------------------------
  Tab Navs
---------------------------*/

@media only screen and (max-width: 1430px) {
    .tab-nav {
        padding-left: 0;
        padding-right: 0;
    }

    .tab-item {
        font-size: 1.1rem;
        margin: 0 2.5rem;
    }
}


@media #{$bp-below-desktop} {
    .tab-nav {
        justify-content: space-evenly;
        align-items: center;
    }

    .tab-item {
        font-size: .9rem;
        margin: 0 .6rem;
        max-width: 6rem;
        text-align: center;
    }
}

@media #{$bp-below-mobile} {
    .tab-item {
        font-size: .5rem;
        max-width: 3.6rem;
    }
}

.reveal {
    display: block !important;
}

.tab-nav {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    text-align: center;
    padding: 1.4rem 0;
    background-color: $color-pink;

    a {
        font-weight: 400;
        text-decoration: none;
        color: $color-black;
    }
    a:hover {
        color: $color-red;
        transform: scale(1.01);
    }

    .selected {
        font-weight: 700;
        color: $color-red;
    }
}

.tab-panel {
    display: none;
}